
<% if (place_location.error) { %>
    <div class="alert alert-danger" role="alert"><%- place_location.error %></div>
    <% } %>
    
    <div class="card-body">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            
            <th width=>Action</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <th scope="row"><%= place_location.id %></th>
            <td><%= place_location.name%></td>
          
            <td>
              <form action="/place_location/delete/<%=place_location.id%>" method="post">
                <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are You sure?')"/>
              </form>
            </td>
          </tr>
    
        </tbody>
      </table>