<header>
  <br>



</header>
<article>
  <div>
    <div id="container">
      <h1 style="color:green">I am pooja- developer A</div>
        <p style="color: gray;">Welcome to GDP-2</p>
    </div>
  </div>
</article>