<header>
  <br>
  

  
</header>
<article>
  <div>
    <div id="container">
      <h1 style="color:blue;">I am Harika</div>
        <p style="color:red;">Welcome to my application</p>
    </div>
  </div>
</article>