<header>
  <br>
  <h1>Group-11 Full Stack App</h1>

</header>
<article>
  <div>
      <div id="container">
          <div id="status"></div>
          <div id="status1"></div>
      </div>
  </div>
</article>
<!-- <h1><%= (typeof title === "undefined" ? "Big App" : title) %></h1>
<p><%= (typeof subTitle === "undefined" ? "" : "Welcome to " + subTitle) %></p> -->


